#globe {
 width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: -600px 0 ;
  border-radius: 10px;

}

#trombones {
 width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: -1400px 0 ;
  border-radius: 10px;
}

#conseil-etat {
 width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: -90px 0 ;
  border-radius: 10px;
}

#contract {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: -950px 0 ;
  border-radius: 10px;
}
