<div data-controller="tags" class="tags-container">
  <div class="tag-container" id="tag-1" data-tags-target="tag">
    <h3>TITRE DE SÉJOUR</h3>
    <h3>DIVORCE</h3>
  </div>
  <div class="tag-container" id="tag-2" data-tags-target="tag">
    <h3>REGROUPEMENT FAMILIAL</h3>
    <h3>DROIT PUBLIC</h3>
  </div>
  <div class="tag-container" id="tag-3" data-tags-target="tag">
    <h3>VISA</h3>
    <h3>DROIT DES CONTRATS</h3>
  </div>
  <div class="tag-container" id="tag-4" data-tags-target="tag">
    <h3>RÉFÉRÉ LIBERTÉ</h3>
    <h3>PROPRIÉTÉ INTELECTUELLE</h3>
  </div>
</div>
