// Define variables for your color scheme

// For example:
$blue: #04768F;
$duck-blue: rgb(4, 118, 143);
$light-duck-blue: rgb(25, 167, 199);
$black: rgb(29, 28, 30);
$dark-gray: rgb(51, 49, 54);
$white: rgb(255, 255, 255);
$light-gray: rgb(241, 243, 245);