<div class="cabinet-container">
  <div class="valeurs">
    <h2>les Valeurs du Cabinet</h2>
    <div class="valeurs-info">
      <div class="photo-yuma">
      </div>
      <div class="valeurs-info-text">
        <p>Le Cabinet FRUNEAU vous conseille, vous assiste et vous représente devant les juridictions administratives, civiles et pénales, et vous accompagne dans vos démarches auprès des différentes administrations.</p>
        <p>Efficacité, Rigueur professionnelle, Bienveillance, Disponibilité, Écoute et Accessibilité</p>
        <p>Mes valeurs pour vous accompagner et défendre vos intérêts lorsque vous en aurez le plus besoin.</p>
      </div>
    </div>
  </div>
  <div class="honoraires">
    <h2>Les Honoraires</h2>
    <div class="honoraires-info">
      <div class="honoraires-info-text">
        <p>A l’ouverture de chaque nouveau dossier, une convention d’honoraires écrite et personnalisée sera formalisée.</p>
        <p>Elle définira clairement la mission de Maître FRUNEAU, et les honoraires dus par le client.</p>
        <p>Les prestations juridiques du Cabinet FRUNEAU font l’objet d’une facturation tenant compte de :</p>
        <ul>
          <li>La nature et la complexité du dossier</li>
          <li>Le temps consacré à l’affaire</li>
          <li>L’éventuelle urgence de intervention</li>
          <li>La nature des diligences à accomplir</li>
          <li>Les frais exposés par le cabinet</li>
          <li>La situation financière du client</li>
        </ul>
      </div>
      <%= image_tag 'photo_honoraires' %>
    </div>
    <%= render 'components/call-to-action' %>
  </div>
</div>