<div class="contact-container">
  <div class="contact-info">
    <h1>Contact</h1>
    <div class="contact-info-phone">
      <p>Tel : 09 81 21 25 05</p>
      <p>Fax : 09 56 65 38 16</p>
    </div>
    <p>avocat@fruneau-avocat.com</p>
    <p>Réception sur RDV uniquement</p>
    <div class="contact-info-address">
      <p>24 boulevard de Sebastopol</p>
      <p>75004 Paris</p>
    </div>
    <p>Métro Chatelet (sortie 3)</p>
    <%= render 'components/call-to-action' %>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.871223229191!2d2.347527015669574!3d48.86066597928762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1eafdf1731%3A0x51693ff96c869965!2s24%20Boulevard%20de%20S%C3%A9bastopol%2C%2075004%20Paris!5e0!3m2!1sfr!2sfr!4v1608644477072!5m2!1sfr!2sfr" width="350" height="540" frameborder="0" style="border:solid 1px; border-radius: 5px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
