<div class="mentions-legales-container">
  <h1>Informations légales</h1>
  <div class="mentions-legales-text">
    <div class="mentions-legales-text-responsable">
      <p>Le site « www.fruneau-avocat.com » est édité par Yuma FRUNEAU, Avocate au barreau de Paris, exerçant à titre individuel.</p>
      <p>24 boulevard de Sebastopol 75004 PARIS, Tel : 09 81 21 25 05 / Fax : 09 56 65 38 16 avocat@fruneau-avocat.com</p>
    </div>
    <p>
      Le directeur de la publication est Madame Yuma FRUNEAU, 24 boulevard de Sebastopol 75004 Paris – Tel : 09 81 21 25 05 / Fax : 09 56 65 38 16
    </p>
    <p>
      Le site a été réalisé par <%= link_to 'Jérémy BRD', 'https://www.jeremybrd.dev' %>
    </p>
    <p>
      Le site est hébergé par Salesforce.com Sarl, Route de la Longeraie 9, Morges, 1110, Switzerland, attn: Director, EMEA Sales Operations, with a copy to attn.: Legal Department - Service Juridique, 3 Avenue Octave Gréard, 75007 Paris, France.Tél: +33172109400
    </p>
    <div class="mentions-legales-text-credit-photo">
      <p><a href="https://unsplash.com/@aleksiii?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alexander</a> on <a href="https://unsplash.com/s/photos/paris?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>

      <p><a href="https://unsplash.com/@sctgrhm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Scott Graham</a> on <a href="https://unsplash.com/s/photos/law?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>

      <p><a href="https://unsplash.com/@tingeyinjurylawfirm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tingey Injury Law Firm</a> on <a href="https://unsplash.com/s/photos/law?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>

      <p><a href="https://unsplash.com/@stevenlasry?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Steven Lasry</a> on <a href="https://unsplash.com/s/photos/conseil-d%C3%A9tat?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
      <p>Yann Le Tutour</p>
    </div>
  </div>
</div>
