// Specific CSS for your hero-section in home
.banner {
  // Viewport Height - Navbar height
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65% 35%;

  & * {
    margin: auto
  }

  .call-to-action {
    margin-top: 10px;
  }
}

.title-pic {
  display: none;
}

// BANNER

.site-title {
  margin-top: 125px;
  margin-bottom: 0px;
  z-index: 10;

  * {
    font-weight: 500;
  }

  & h2 {
    margin-top : 10px;
    font-size: 28px;
  }

  & h1 {
    z-index: 10;
  }

  .avocate-underline {
    position: relative;
  }

  .paris-underline {
    position: relative;
  }
}

// HERO-SECTION

.hero-section {
  margin-left: 40%;

  & img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
  }

  & .social-links {
    display: flex;
    justify-content: center;

    margin-top: 5px;
    width: 70px;

    transition: all 0.1s;

    & a {
      font-size: 28px;
      color: rgb(25, 167, 199);

      transition: color .2s;

      &:hover {
        color: rgb(4, 118, 143);
      }
    }
  }
}

@media (max-width: 900px) {

  .banner {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    grid-template-rows: unset;

    .hero-section {
      margin : 41px 0 0 0;
    }

    .site-title {
      margin: unset;
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 20px;
      }
    }
    .call-to-action {
      margin: auto;
      padding: 18px 28px;
    }
  }

  .mc900 {
    display: none
  }

  .title-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 0;

    #underliner-avocate-home {
      top : unset;
      bottom: 4px;
      left: -4px;
      width: 83px;
      height: 7px;
    }
    #underliner-paris-home{
      top: 18px;
      left: 99px;
      width: 49px;
    }

    & img {
      width: 45vw;
      height: 45vw;
    }

    & .hero-section .social-links {
      width: unset;
    }
  }

  .call-to-action {
    margin-top: 30px;
    .call-contact-form {
      width: fit-content;
    }
  }
}
