// Specific CSS for your hero-section in home
.banner {
  // Viewport Height - Navbar height
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65% 35%;

  & * {
    margin: auto
  }

  & :nth-child(3) {
    margin-top: 10px;
  }
}

// BANNER

.site-title {
  margin-top: 125px;
  margin-bottom: 0px;

  * {
  font-weight: 500;
  }

  & h2 {
    margin-top : 10px;
    font-size: 28px;
  }
}

// HERO-SECTION

.hero-section {
  margin-left: 290px;

  & img {
    width: 22vw;
  }

  & .social-links {
    display: flex;
    justify-content: center;

    margin-top: 5px;
    width: 70px;

    & a {
      font-size: 28px;
      color: rgb(25, 167, 199);
    }
  }
}
