.prestation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  margin-top: 50px;

  & h2 {
    font-weight: 500;
    margin-bottom: 50px;
  }

  & .carousel{
    margin-bottom: 80px;
  }
}
