.prestation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  height: 65vh;
  width: 790px;
  background: white;
  border: 1px solid #CCCCCC;
  border-radius: 6px;

  & h2 {
    font-weight: 500;
    margin-left: -30px;
    margin-top: -15px;
    margin-bottom: 0;
  }

  & img {
    object-fit: cover;
    height: 100%;
    border-radius: 0 5px 5px 0;
  }
}

.presentation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 90%;
  padding: 20px 30px 20px 60px;
  text-align: justify;
}

.presentation-langages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & h3 {
    font-weight: 300;
  }
}

.presentation-langages-list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  *:not(last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 900px) {
  .presentation {
    margin: 0 10px;
    background-image: url(asset_path('balance_background'));
    background-size: cover;
    background-repeat: no-repeat;

    img {
      display: none;
    }

    h2 {
      margin-top: unset;
      margin-left: unset;
      margin: 0 auto 0 auto;
    }

    .presentation-info {
      padding: 0 30px 0 30px;
    }
  }
  
}
