#globe-carousel {
  width: 350px;
   height: 350px;
   object-fit: cover;
   object-position: -800px 0 ;
   border-radius: 0 10px 10px 0;
 
 }
 
 #trombones-carousel {
  width: 350px;
   height: 350px;
   object-fit: cover;
   object-position: -1400px 0 ;
   border-radius: 0 10px 10px 0;
 }
 
 #conseil-etat-carousel {
  width: 350px;
   height: 350px;
   object-fit: cover;
   object-position: -90px 0 ;
   border-radius: 0 10px 10px 0;
 }
 
 #contract-carousel {
   width: 350px;
   height: 350px;
   object-fit: cover;
   object-position: -950px 0 ;
   border-radius: 0 10px 10px 0;
 }
 