.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  iframe {
    margin: 100px 0 100px 250px;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 540px;

  position: relative;

  h1 {
    font-weight: 500;
    font-size: 42px;
  }

  p {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .contact-container{
    justify-content: space-around;

    iframe {
      margin: 100px 0;
    }
  }
}

@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;

    .contact-info{
      justify-content: space-evenly;
      align-items: center;
    }
    #underliner-contact {
      top: 68px;
    }

    iframe {
      margin: 15px 0 40px 0;
    }
  }
}
