.carousel-and-nav-container {
  position: relative;
}

.carousel-container {
  display: flex;
  background: #FFFFFF;
  width: 870px;
  height: 370px;
  overflow: hidden;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

.carousel-wrapper {
  display: flex;
  transition: margin-left .5s;
}

.carousel-element {
  display: flex;
  min-width: 870px;
}

.carousel-presta-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 500px;
  padding: 35px 20px 45px 40px;

  & h3 {
    font-size: 32px;
    font-weight: 500;
  }

  & ul {
    margin-left: 10px;
  }

  & li {
    list-style: none;
    font-family: "Jost", "sans-serif";
    line-height: 2;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    color: rgb(51, 49, 54);
    letter-spacing: 2px;
    width: 225px;

    transition: width .2s;

    &:hover {
      color: black;
      width: 200px;
    }

    & img {
      width: 30px;
    }
  }
}

.nav-carousel-btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1px;
  right: 371px;
}

.nav-btn {
  color: white;
  background-color: black;
  padding: 25px 32.5px;
  cursor: pointer;
  transition: background-color .2s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(51, 49, 54);
  }

  img {
    display: block;
  }
}

#previous {
  transform: rotate(180deg);
}

@media (max-width: 900px) {
  .carousel-container{
    width: 90vw;
    height: 72vh;

    .carousel-element{
      flex-direction: column-reverse;
    }
  }

  .nav-carousel-btn {
    bottom: 342px;
    right: 0px;
  }
}
