.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  height: 100px;
  border-radius: 0 0 60px 0;
  color: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
