#underliner-avocate-home {
  position: absolute;
  top: 173px;
  left: 165px;

  width: 177px;
  height: 7px;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  background: #19a7c7;
}

#underliner-paris-home {
  position: absolute;
  top: 232px;
  left: 315px;

  width: 63px;
  height: 7px;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  background: #19a7c7;
}

#underliner-prestations-home {
  position: absolute;
  top: 40px;
  left: 655px;

  width: 200px;
  height: 7px;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  background: #19a7c7;
}

#underliner-footer {
  position: absolute;
  top: 63px;
  left: 605px;

  width: 200px;
  height: 3px;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  background: #19a7c7;
}
