h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: medium;
}

h2 {
  font-weight: medium;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-weight: medium;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

p, a {
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
}

.main-container {
  background: no-repeat
              top 300px
              right -90px
              
              url('elips_bg_right.png'),
              no-repeat
              top 600px
              left -60px
              url('elips_bg_left.png');
  background-size: 55%;
}