h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: medium;
}

h2 {
  font-weight: medium;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-weight: medium;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

p, a {
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
}
