h1 {
  font-family: "Jost", "sans-serif";
  font-size: 48px;
}

h2 {
  font-family: "Jost", "sans-serif";
  font-size: 40px;
}

h3 {
  font-family: "Jost", "sans-serif";
  font-size: 20px;
}

p, a {
  font-family: "Jost", "sans-serif";
  font-size: 16px;
}

a {
  color: rgb(4, 118, 143);
}

body {
  background: #F9F9F9;
  overflow: unset;
  min-width: -webkit-fill-available;
}

.home-container {
  background: no-repeat
              top -50px
              left -90px
              asset-data-url('paris_home_bg.png'),
              no-repeat
              top 600px
              right -90px
              asset-data-url('elips_bg_right.png'),
              no-repeat
              top 900px
              left -60px
              asset-data-url('elips_bg_left.png');
  background-size: 68%, 50%, 50%;
}

.pages-container {
  background: no-repeat
              top 300px
              right -90px
              asset-data-url('elips_bg_right.png'),
              no-repeat
              top 800px
              left -60px
              asset-data-url('elips_bg_left.png');
  background-size: 50%, 50%;
}

.zi10 {
  z-index: 10;
}

.zi500 {
  z-index: 500;
}